{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$current_tab=$smarty.get.current_tab|default:'block'}
    {$admin_current_location = 'Page'}
{/block}

{block name="page-title"}{intl l='Edit page'}{/block}

{block name="check-access"}view{/block}

{block name="main-content"}
<div class="pagesList">
    <div id="wrapper" class="container">
        {include file="includes/breadcrumb.html"}
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="tabbed-menu">
                    <li class="active"><a href="#block" data-toggle="tab">{intl l="Block"}</a></li>
                    <li><a href="#general"  data-toggle="tab">{intl l="Configuration"}</a></li>
                    <li><a href="#seo" data-toggle="tab">{intl l="SEO"}</a></li>
                    <li><a href="#documents" data-toggle="tab">{intl l="Documents"}</a></li>
                    <li><a href="#module" data-toggle="tab">{intl l="Module"}</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active in fade" id="block">
                        <div class="general-block-decorator">
                            <div class="form-container">
                                <div class="row">
                                    <div class="col-md-12">
                                        {hook name="thelia.blocks.item.configuration" itemType="page" itemId=$page_id}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="general">
                        {include file="tab/edit-page-configuration.html" page_id=$page_id}
                    </div>
                    <div class="tab-pane fade" id="seo">
                        {include file="tab/seo-page-configuration.html" page_id=$page_id}
                    </div>
                    <div class="tab-pane fade" id="documents">
                        <div class="general-block-decorator">
                            {include file='tab/page-document-upload-list-ajax.html' page_id=$page_id}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="module">
                        <div class="general-block-decorator">
                            {include file="includes/module-tab-content.html" hook="page.tab-content" id="{$page_id}" view="page"}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="javascript-initialization"}
    {javascripts file='assets/js/jquery-ui-1.10.3.custom.min.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/dropzone.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/document-upload.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/image-picker/image-picker.min.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    <script type="text/javascript">
        $(function() {
            $('.nav-tabs a[data-href]').on('shown.bs.tab', function (ev) {
                var $this = $(this);
                $($this.attr('href')).load($this.data('href'), function (ev) {
                    if ($this.data('callback')) {
                        eval($this.data('callback') + '();');
                    }
                });
            });

            $.documentUploadManager.initDocumentDropZone();

            {if !empty($current_tab)}
                $('.nav-tabs a[href="#{$current_tab}"]').trigger("click");
            {/if}
        });
    </script>
{/block}

{block name="javascript-last-call"}
    {hook name="wysiwyg.js"}
{/block}
