{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$current_tab=$smarty.get.current_tab|default:'block'}
    {$admin_current_location = 'Page'}
{/block}

{block name="page-title"}{intl l='Edit page' d='page.bo.default'}{/block}

{block name="check-access"}view{/block}

{block name="main-content"}
<div class="pagesList">
    <div id="wrapper" class="container">
        {$noTitle = {intl l='No title' d='page.bo.default'}}
        {include file="includes/breadcrumb.html" ancestors=$ancestors current={intl l='Modifying "%title"' title=$page_title|default:$noTitle d='page.bo.default'} }
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="tabbed-menu">
                    <li class="active"><a href="#block" data-toggle="tab">{intl l="Block" d='page.bo.default'}</a></li>
                    <li><a href="#general"  data-toggle="tab">{intl l="Configuration" d='page.bo.default'}</a></li>
                    <li><a href="#seo" data-toggle="tab">{intl l="SEO" d='page.bo.default'}</a></li>
                    <li><a href="#images" data-toggle="tab">{intl l="Images" d='page.bo.default'}</a></li>
                    <li><a href="#documents" data-toggle="tab">{intl l="Documents" d='page.bo.default'}</a></li>
                    <li><a href="#module" data-toggle="tab">{intl l="Module" d='page.bo.default'}</a></li>
                    <li><a href="#subPages" data-toggle="tab">{intl l="Sous pages" d='page.bo.default'}</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active in fade" id="block">
                        <div class="general-block-decorator" style="padding:0;border: 1px solid rgb(34,34,34)">
                            <div class="form-container">
                                {hook name="thelia.blocks.item.configuration" itemType="page" itemId=$page_id}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="general">
                        {include file="tab/edit-page-configuration.html" page_id=$page_id}
                    </div>
                    <div class="tab-pane fade" id="seo">
                        {include file="tab/seo-page-configuration.html" page_id=$page_id}
                    </div>
                    <div class="tab-pane fade" id="images">
                        <div class="general-block-decorator">
                            {include file='tab/page-image-upload-list-ajax.html' page_id=$page_id}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="documents">
                        <div class="general-block-decorator">
                            {include file='tab/page-document-upload-list-ajax.html' page_id=$page_id}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="module">
                        <div class="general-block-decorator">
                            {include file="includes/module-tab-content.html" hook="page.tab-content" id="{$page_id}" view="page"}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="subPages">
                        <div class="general-block-decorator">
                            {include file="includes/pages-list.html"}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="javascript-initialization"}
    {javascripts file='assets/js/jquery-ui-1.10.3.custom.min.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/dropzone.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/document-upload.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/image-upload.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/image-picker/image-picker.min.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    <script type="text/javascript">
        $(function() {
            $('.nav-tabs a[data-href]').on('shown.bs.tab', function (ev) {
                var $this = $(this);
                $($this.attr('href')).load($this.data('href'), function (ev) {
                    if ($this.data('callback')) {
                        eval($this.data('callback') + '();');
                    }
                });
            });

            $.imageUploadManager.initImageDropZone();
            $.documentUploadManager.initDocumentDropZone();

            {if !empty($current_tab)}
                $('.nav-tabs a[href="#{$current_tab}"]').trigger("click");
            {/if}
        });
    </script>
{/block}

{block name="javascript-last-call"}
    {hook name="wysiwyg.js"}
{/block}
