{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'Page'}
{/block}

{block name="page-title"}{intl l='Create a new page' d='page.bo.default'}{/block}

{block name="check-access"}view{/block}

{block name="main-content"}
    <div id="wrapper" class="container">
        {include file="includes/breadcrumb.html" new=true}
        <div class="row">
            <div class="col-md-12">
                <div class="general-block-decorator">
                    <div class="form-container">
                        <div class="row">
                            <div class="col-md-12">
                                {form name="page_form_page_form"}
                                    <form method="POST" action="{url path='/admin/page/create'}" {form_enctype}>
                                        {form_hidden_fields}

                                        {render_form_field field="success_url" value={url path='/admin/page'}}
                                        {render_form_field field="error_url" value={url path='/admin/page/new'}}

                                        {include
                                            file = "includes/inner-form-toolbar.html"
                                            hide_submit_buttons = true
                                            hide_save_and_close_button = true
                                            page_url  = {url path="/admin/page/new"}
                                            close_url = {url path="/admin/page"}
                                        }

                                        {if $form_error}<div class="alert alert-danger">{$form_error_message}</div>{/if}

                                        <div class="row">
                                            <div class="col-md-12">
                                                {render_form_field field="title"}
                                            </div>
                                            <div class="col-md-6">
                                                {render_form_field field="type"}
                                            </div>
                                            <div class="col-md-6">
                                                {render_form_field field="thelia-block"}
                                            </div>
                                            <div class="col-md-12">
                                                {render_form_field field="description" extra_class="wysiwyg"}
                                            </div>
                                        </div>

                                        {include
                                            file = "includes/inner-form-toolbar.html"
                                            page_bottom = true
                                            hide_flags = true
                                            page_url  = {url path='/admin/page/new'}
                                            close_url = {url path='/admin/page'}
                                        }
                                    </form>
                                {/form}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}

{block name="javascript-last-call"}
    {hook name="wysiwyg.js"}
{/block}
