{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'Page'}
{/block}

{block name="page-title"}{intl l='Pages List' d='page.bo.default'}{/block}

{block name="check-access"}view{/block}

{block name="main-content"}
    <div class="pagesList">
        <div id="wrapper" class="container">
            {include file="includes/breadcrumb.html"}
            <div class="row">
                <div class="col-md-12">
                    <div class="general-block-decorator">
                        {if $smarty.get.error|default:null}<div class="alert alert-danger">{$smarty.get.error}</div>{/if}
                        <div class="table-responsive">
                            <table class="table table-striped table-condensed" id="pagesListing">
                                <caption>
                                    {include file='renderer/buttons.html' btn_group=false buttons=[
                                    [
                                    'type' => 'info',
                                    'class' => 'action-btn',
                                    'title' => {intl l='Manage page type' d='page.bo.default'},
                                    'href' => {url path="admin/page-type"}
                                    ]
                                    ]}
                                    {include file='renderer/buttons.html' btn_group=false buttons=[
                                    [
                                    'type' => 'create',
                                    'class' => 'action-btn',
                                    'title' => {intl l='Add a new page' d='page.bo.default'},
                                    'href' => {url path="admin/page/new"}
                                    ]
                                    ]}
                                </caption>
                                <thead>
                                <tr>
                                    <th>{intl l="Id" d='page.bo.default'}</th>
                                    <th>{intl l="Title" d='page.bo.default'}</th>
                                    <th>{intl l="Code" d='page.bo.default'}</th>
                                    <th>{intl l="Thelia block" d='page.bo.default'}</th>
                                    <th>{intl l="Url" d='page.bo.default'}</th>
                                    <th>{intl l="Tag" d='page.bo.default'}</th>
                                    <th>{intl l="Visible" d='page.bo.default'}</th>
                                    <th>{intl l="Position" d='page.bo.default'}</th>
                                    <th class="actions">{intl l="Actions" d='page.bo.default'}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {loop type="page_loop" name="pages-listing" visible='*' order="position"}
                                {$link = {url path="/admin/page/edit/%id" id=$ID current_tab='general'}}
                                    <tr>
                                        <td>
                                            <a href="{$link}">
                                                {$ID}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{$link}">
                                                {$PAGE_TITLE}
                                            </a>
                                        </td>
                                        <td>
                                            {$PAGE_CODE}
                                        </td>
                                        <td>
                                            <a href="{url path="/admin/page/edit/%id" id=$ID current_tab='block'}">
                                                {$PAGE_BLOCK_GROUP_TITLE}
                                            </a>
                                        </td>
                                        <td>{$PAGE_URL}</td>
                                        <td>{$PAGE_TAG}</td>
                                        <td>
                                            <div class="make-switch switch-small change-visible" data-on="success" data-off="danger" data-on-label="<i class='glyphicon glyphicon-ok'></i>" data-off-label="<i class='glyphicon glyphicon-remove'></i>">
                                                <input type="checkbox" name="visible" value="{$ID}" {if $PAGE_VISIBLE}checked="checked"{/if}/>
                                            </div>
                                        </td>
                                        <td>
                                            {admin_position_block
                                            resource="admin.content"
                                            access="UPDATE"
                                            path={url path='/admin/page/update-position' page_id=$ID}
                                            url_parameter="content_id"
                                            in_place_edit_class="contentPositionChange"
                                            position=$PAGE_POSITION
                                            id=$ID
                                            }
                                        </td>
                                        <td class="actions">
                                            {include file='renderer/buttons.html' buttons=[

                                            [
                                            'type' => 'edit',
                                            'title' => {intl l='Edit this page' d='page.bo.default'},
                                            'href' => $link
                                            ],
                                            [
                                            'type' => 'delete',
                                            'class' => 'folder-delete',
                                            'title' => {intl l='Delete this page' d='page.bo.default'},
                                            'href' => {url path="/admin/page/delete/%id" id=$ID}
                                            ]
                                            ]}
                                        </td>
                                    </tr>
                                {/loop}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}
{block name="javascript-initialization"}
    {javascripts file='assets/js/jquery-ui-1.10.3.custom.min.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/bootstrap-switch/bootstrap-switch.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    <script type="text/javascript">
        $(function() {
            $('.change-visible').on("switch-change", function(event, data) {
                var url = "{url noamp='1' path='/admin/page/set-visible' page_id='__ID__' visible='__VISIBLE__'}";
                url = url.replace('__ID__', $("input", this).val());
                url = url.replace('__VISIBLE__', $("input", this).is(':checked') ? 1 : 0);
                location.href = url;
            });
        });
    </script>
{/block}
