{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'Page'}
{/block}

{block name="page-title"}{intl l='Pages List' d='page.bo.default'}{/block}

{block name="check-access"}view{/block}

{block name="main-content"}
    <div class="pagesList">
        <div id="wrapper" class="container">
            {include file="includes/breadcrumb.html"}
            <div class="row">
                <div class="col-md-12">
                    <div class="general-block-decorator">
                        {if $smarty.get.error|default:null}<div class="alert alert-danger">{$smarty.get.error}</div>{/if}
                        {include file="includes/pages-list.html"}
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}
{block name="javascript-initialization"}
    {javascripts file='assets/js/jquery-ui-1.10.3.custom.min.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/bootstrap-switch/bootstrap-switch.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}

    <script type="text/javascript">
        $(function() {
            $('.change-visible').on("switch-change", function(event, data) {
                var url = "{url noamp='1' path='/admin/page/set-visible' page_id='__ID__' visible='__VISIBLE__'}";
                url = url.replace('__ID__', $("input", this).val());
                url = url.replace('__VISIBLE__', $("input", this).is(':checked') ? 1 : 0);
                location.href = url;
            });
            $('.change-home').on("switch-change", function(event, data) {
                var url = "{url noamp='1' path='/admin/page/set-home' page_id='__ID__'}";
                url = url.replace('__ID__', $("input", this).val());
                location.href = url;
            });
        });
    </script>
{/block}
